<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <div class="wrapper">
    <header class="header">
      <%= link_to image_tag("IMG_6578.JPG"), root_path,class: :"header__img" %>
    <span class="glyphicon glyphicon-align-right" aria-hidden="true"style="font-size: 40px"></span>
    </header>

    <nav class="nav">
      <ul class="nav_container">
        <li class="nav_container__page">
          <%= link_to "HOME", root_path, class: :"nav_container__link" %>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"style="font-size: 10px"></span>
        </li>
        <li class="nav_container__page">
          <%= link_to "INTRODUCTION", introduction_path, class: :"nav_container__link" %>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"style="font-size: 10px"></span>
        </li>
        <li class="nav_container__page cooks_list">
          <div class="nav_container__link" href="">COOKS</div>
          <ul class="nav_page_cooks_link">
            <li><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"style="font-size: 10px"></span><%= link_to "SWEETS", sweets_path %></li>
            <li><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"style="font-size: 10px"></span><%= link_to "DINNER", dinner_path %></li>
            <li><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"style="font-size: 10px"></span><%= link_to "CHINESE", chinese_path %></li>
          </ul>
        </li>
        <li class="nav_container__page">
          <%= link_to "CONTACTS", contacts_path, class: :"nav_container__link" %>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"style="font-size: 10px"></span>
        </li>
      </ul>
    </nav>
    <div class="page-title">
      <h3 class="page-title_text">CHINESE</h3>
    </div>
    <section class="food-list">
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>友喜屋</p>
        </div>
        <a class="food-list-img" href="">
          <img src="assets/IMG_20180106_194600.jpg" width="220" height="220" >
        </a>

      </article>
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>ラーメンヒロ</p>
        </div>
        <%= link_to image_tag("IMG_3673.JPG"), comments_path,class: :"food-list-img"%>
      </article>
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>友喜屋<br>まぜそば</p>
        </div>
        <%= link_to image_tag("IMG_6016.JPG"), comments_path,class: :"food-list-img"%>
      </article>
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>ラーメンどんき<br>担々麺</p>
        </div>
        <%= link_to image_tag("IMG_6489.JPG"), comments_path,class: :"food-list-img"%>
      </article>
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p></p>
        </div>
        <%= link_to image_tag("IMG_6351.JPG"), comments_path,class: :"food-list-img"%>
      </article>
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>魂心家</p>
        </div>
        <%= link_to image_tag("IMG_5932.JPG"), comments_path,class: :"food-list-img"%>
      </article>
    </section>
    <footer class="footer">
      <a href="">
        <img class="" src="<%= asset_path "logo_w.png" %>" alt=height="100" >
      </a>
    </footer>
  </div>
<script type="text/javascript" src="assets/top.js"></script>
