  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <div class="wrapper">
      <header class="header">
        <%= link_to image_tag("IMG_6578.JPG"), root_path,class: :"header__img" %>
      <span class="glyphicon glyphicon-align-right" aria-hidden="true"style="font-size: 40px"></span>
      </header>
      <nav class="nav">
        <ul class="nav_container">
          <li class="nav_container__page">
            <%= link_to "HOME", root_path, class: :"nav_container__link" %>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"style="font-size: 10px"></span>
          </li>
          <li class="nav_container__page">
            <%= link_to "INTRODUCTION", introduction_path, class: :"nav_container__link" %>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"style="font-size: 10px"></span>
          </li>
          <li class="nav_container__page cooks_list">
            <a class="nav_container__link" href="">COOKS</a>
            <ul class="nav_page_cooks_link">
              <li><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"style="font-size: 10px"></span><%= link_to "SWEETS", sweets_path %></li>
              <li><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"style="font-size: 10px"></span><%= link_to "DINNER", dinner_path %></li>
              <li><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"style="font-size: 10px"></span><%= link_to "CHINESE", chinese_path %></li>            </ul>
          </li>
          <li class="nav_container__page">
            <%= link_to "CONTACTS", contacts_path, class: :"nav_container__link" %>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"style="font-size: 10px"></span>
          </li>
        </ul>
      </nav>
      <div class="page-title">
        <h3 class="page-title_text">CONTACTS</h3>
      </div>
      <section class="food-list" style="visibility:hidden">
        <article class="food-list__content">
          <a class="food-list-img" href="">
            <img width="220" height="220" >
          </a>
        </article>
        <article class="food-list__content">
          <a class="food-list-img" href="">
            <img width="220" height="220" >
          </a>
        </article>
        <article class="food-list__content">
          <a class="food-list-img" href="">
            <img width="220" height="220" >
          </a>
        </article>
        <article class="food-list__content">
          <a class="food-list-img__contacts" href="">
            <img width="220" height="220" >
          </a>
        </article>
      </section>
      <section class="contact-form">
        <p>下記の項目をご入力の上、送信ボタンを押してください。改めてお返事いたします。<br><br>＊印のある項目は入力必須となります。</p>
        <form action="">
          <dl>
            <dt>氏名＊</dt>
            <dd><input type="text"></dd>
          </dl>
          <dl>
            <dt>会社名</dt>
            <dd><input type="text"></dd>
          </dl>
          <dl>
            <dt>メールアドレス＊</dt>
            <dd><input type="text"></dd>
          </dl>
          <dl>
            <dt>お問い合わせ内容＊</dt>
            <dd><textarea name="kanso" rows="4" cols="40" style="width:100%;height:90px"></textarea></dd>
          </dl>
          <input type="submit" name="" value="送信する">
        </form>
      </section>
      <footer class="footer">
        <a href="">
          <img class="" src="<%= asset_path "logo_w.png" %>" alt=height="100" >
        </a>
      </footer>
    </div>
  <script type="text/javascript" src="assets/top.js"></script>
