<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <div class="wrapper">
    <header class="header">
      <%= link_to image_tag("IMG_6578.JPG"), root_path,class: :"header__img" %>
    <span class="glyphicon glyphicon-align-right" aria-hidden="true"style="font-size: 40px"></span>
    </header>

    <nav class="nav">
      <ul class="nav_container">
        <li class="nav_container__page">
          <%= link_to "HOME", root_path, class: :"nav_container__link" %>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"style="font-size: 10px"></span>
        </li>
        <li class="nav_container__page">
          <%= link_to "INTRODUCTION", introduction_path, class: :"nav_container__link" %>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"style="font-size: 10px"></span>
        </li>
        <li class="nav_container__page cooks_list">
          <div class="nav_container__link" href="">COOKS</div>
          <ul class="nav_page_cooks_link">
            <li><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"style="font-size: 10px"></span><%= link_to "SWEETS", sweets_path %></li>
            <li><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"style="font-size: 10px"></span><%= link_to "DINNER", dinner_path %></li>
            <li><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"style="font-size: 10px"></span><%= link_to "CHINESE", chinese_path %></li>
          </ul>
        </li>
        <li class="nav_container__page">
          <%= link_to "CONTACTS", contacts_path, class: :"nav_container__link" %>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"style="font-size: 10px"></span>
        </li>
      </ul>
    </nav>
    <div class="page-title">
      <h3 class="page-title_text">DINNER</h3>
    </div>
    <section class="food-list">
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>オムライス</p>
        </div>
        <a class="food-list-img" href="">
          <img src="assets/IMG_4993.JPG" width="220" height="220" >
        </a>
      </article>
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>クラフトビール<br>”SVB”</p>
        </div>
        <a class="food-list-img" href="">
          <img src="assets/IMG_6019.JPG" width="220" height="220" >
        </a>
      </article>
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>飛騨牛</p>
        </div>
        <a class="food-list-img" href="">
          <img src="assets/IMG_3703.JPG" width="220" height="220" >
        </a>
      </article>
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>ぶたの生姜焼き</p>
        </div>
        <a class="food-list-img" href="">
          <img src="assets/2017-01-20 18.41.13.jpg" width="220" height="220" >
        </a>
      </article>

      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>ベニズワイガニ</p>
        </div>
        <a class="food-list-img" href="">
          <img src="assets/IMG_4472.JPG" width="220" height="220" >
        </a>
      </article>
      <article class="food-list__content">
        <div class="food-list__content_title">
          <p>とり野菜味噌</p>
        </div>
        <a class="food-list-img" href="">
          <img src="assets/IMG_4995.JPG" width="220" height="220" >
        </a>
      </article>

    </section>
    <footer class="footer">
      <a href="">
        <img class="" src="assets/logo_w.png" alt=""height="100" >
      </a>
    </footer>
  </div>
<script type="text/javascript" src="assets/top.js"></script>
